#hero {

    .hero-slide {

        .hero-slide-container {
            position: relative;
            height: 100vh;

            .hero-slide-content {
                height: 100%;

                .hero-slide-content-box {
                    display: flex;
                    height: 100%;
                    align-items: end;
                    width: 50%;
                    padding-bottom: 15rem;

                    .hero-primary-head {
                        color: $color-black;
                    }

                    .hero-secondary-head {
                        color: $color-shaded-gray;
                    }

                    .hero-tertiary-paragraph {
                        color: $color-light-black;
                    }
                }

                a {
                    margin-top: 3rem;
                }
            }

            .hero-slide-img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }


        }
    }
}