.primary-heading {
    font-size: 6.4rem;
    letter-spacing: 1px;
}

.secondary-heading {
    font-size: 2.6rem;
    letter-spacing: 0.5px;
    font-weight: lighter;
}

.tertiary-heading {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: $color-shaded-gray;
}

.tertiary-paragraph {
    font-size: 2rem;
    letter-spacing: 0.3px;
}

.category-name {
    position: relative;
    color: $color-black;
    font-size: 2.4rem;
    letter-spacing: 1px;
    // padding-left: 25px;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 15px;
    //     height: 4px;
    //     border-radius: 3px;
    //     background-color: $color-secondary;
    //     top: 50%;
    //     left: 0;
    //     transform: translateY(-50%);
    // }
}

.category-desc {
    color: $color-shaded-gray;
    font-size: 1.6rem;
    width: 80%;
}

.title-heading {
    font-size: 3.2rem;
    letter-spacing: 0.5rem;
    position: relative;
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -10px;
        @include primaryGradient;
        left: 0;
        height: 2px;
        border-radius: 10px;
    }

    &.newsletter-heading {
        text-align: center;

        &::after {
            display: none;
        }
    }
}

.display-tag {
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
}

.display-title {
    font-size: 5.4rem;
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.display-text {
    font-size: 1.8rem;
    color: $color-shaded-white;
    letter-spacing: 0.3px;
}

.footer-text {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    color: $color-shaded-gray;
    font-weight: lighter;
}